@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.feedback {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    margin-left: 180px;
}

.comment img {
    width: 40px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-left: 180px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.comment span {
    color: #00a1c0;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
}

.sitare {
    color: #ffa91f;
    margin-top: 30px;
    margin-left: 200px;
}

.flexstar {
    display: flex;
}

.feed-button button {
    padding: 15px 20px;
    background-color: blue;
    border-radius: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 480px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-yellowColor {
    color: yellow;
}

.text-gray-400 {
    color: #718096;
}

.rateme button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: lightgray;
}

.form {
    margin-left: 300px;
}

.form textarea {
    height: 70px;
}

.submit button {
    padding: 15px 20px;
    background-color: blue;
    border-radius: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ticket {
    width: 300px;
    background-color: #fffcfc;
    box-shadow: black;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 200px;
    justify-content: center;
    border: solid gray 1px;
}

.flex1 {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-row1 {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-bottom: 20px;
}

.appointment button {
    width: 250px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-content: center;
}

.second h4 {
    margin-left: 20px;
}

.second p {
    margin-top: -5px;
}

.second {
    margin-top: -20px;
}
