@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.test-header{
    position: relative;
    top: 150px;
}

.test-header h2{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.test-header p{
text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 1;
}

.swiper1{
    position: relative;
    left: 100px ;
    right: 100px;
    top: 250px;
    width: 90%;


}


